
.ci_content{
    display: flex;
    flex-direction: column;
    color: var(--text);
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;     
    height: 100%;
}
.ci_table{
  border-collapse: collapse;
}
.ci_round, .ci_gp{
  text-align: center;
  padding: 0;
}
.ci_gp{
  font-size: smaller;
}
.ci_round{
  font-size: smaller;
}
.ci_gpText{
  color: var(--accent);
}

.ci_circuitDesc, .ci_lengthDesc, .ci_lapsDesc, .ci_cornersDesc{
  vertical-align: top;
  color: var(--accent);
  font-size: smaller;
  text-align: center;
}

.ci_circuit, .ci_length, .ci_laps, .ci_corners{
  vertical-align: top;
  font-size: smaller;
  text-align: center;
}