.sch_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text);
    padding-top: 10px;
    padding-bottom: 10px;

}
.sch_accentText{
    color: var(--accent);
}

.sch_header{
    margin-inline: auto;
} 

.sch_table{
    width: 100%;
    height: 90%;
    border-collapse: collapse;
}



.sch_table .sch_session{
    font-size: smaller;
    border: none;
}
.sch_sessionName{
    text-align: center;
    font-weight: normal;
    padding: 10px;
    vertical-align: middle;
}

.sch_sessionTime{
    color: var(--accent);

}

.sch_timeText{
    font-weight: normal;
}

.sch_sessionDate{
    color: var(--text);
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

.sch_sessionName > span{
    color: var(--accent);
    padding-inline: 5px;
    padding-block: 2px;
    font-weight: bold;
    border-radius: 10px;
}