.ci_content {
  display: flex;
  flex-direction: column;
  color: var(--text);
  position: relative;
  z-index: 1;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.ci_header {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  margin-inline: auto;
  top: 0;
  font-size: smaller;
}

.ci_headerText{
  color: var(--accent);
}

.ci_flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: auto;
  width: 100%;
  margin-block: 5px;
}

.ci_comp{
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: smaller;
  text-align: center;
}

.ci_comp{
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: smaller;
  text-align: center;
}

.ci_comp:nth-child(3){
  flex-direction: row;
  justify-content: space-around;
}

.ci_desc{
  color: var(--accent);
}