.standings_container{
    margin: 10px;
}
.st_DriverChart{
    background-color: var(--primary);
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    border-radius: 25px;
    aspect-ratio: 1/1;
    font-size: smaller;
}

