:root {
  --dark-accent: #981912;
  --accent: var(--ferrari-accent);
  --secondary-accent: var(--ferrari-sec);
  --background: #000000;
  --primary: #0b0b0b;
  --primary_adj: #101010;
  --secondary: #2c333a;
  --tertiary: #738496;
  --ferrari-prim: #ed1131;
  --mclaren-prim: #f47600;
  --red_bull-prim: #091d3c;
  --mercedes-prim: #00d7b6;
  --williams-prim: #1868db;
  --haas-prim: #9c9fa2;
  --rb-prim: #1534cc;
  --aston_martin-prim: #229971;
  --alpine-prim: #fd4bc7;
  --sauber-prim: #00e600;
  --ferrari-sec: #fffbeb;
  --mclaren-sec: #000000;
  --red_bull-sec: #ffffff;
  --mercedes-sec: #020403;
  --williams-sec: #ffffff;
  --haas-sec: #ee1b24;
  --rb-sec: #ffffff;
  --aston_martin-sec: #ffffff;
  --alpine-sec: #ffffff;
  --sauber-sec: #000000;
  --ferrari-accent: #ed1131;
  --mclaren-accent: #f47600;
  --red_bull-accent: #4781D7;
  --mercedes-accent: #00d7b6;
  --williams-accent: #1868db;
  --haas-accent: #ffffff;
  --rb-accent: 	#6C98FF;
  --aston_martin-accent: #27ac80;
  --alpine-accent: #fd4bc7;
  --sauber-accent: #00e600;
  --text: #dee4ea;
  
  }

.body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  display: grid;
  grid-template-columns: auto 1fr;
}

button {
  color: var(--text);
}

.fadeTop, .fadeBottom{
  width: 100%;
  height:12%;
  position: sticky;
  backdrop-filter: blur(100px);
}

.fadeBottom{
  bottom: 0;
  background: linear-gradient(to top, transparent, transparent);
  mask: linear-gradient(to top, black, transparent);
}

.fadeTop{
  top: 0;
  mask: linear-gradient(to bottom, black, transparent);
  background: linear-gradient(to bottom, transparent, transparent);
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--background);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
  opacity: 100%;
  z-index: 10;
}

.submenu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  .submenu_div{
    overflow: hidden;
  }
}

.submenu.show{
  grid-template-rows: 1fr;
  overflow-y: scroll;
  .submenu_div{
    overflow-y: auto;
    height: 50%;
  }
}
.dropButton.show{
  .dropdownsvg{
    rotate: 180deg;
  }
}
.submenu_div{
  overflow: auto;
  max-height: 500px;
}
.submenu-item{
  display: flex;
  margin-block: 10px;
  svg{
    rotate: 90deg;
  }
}

.box {
  background-color: var(--primary);
}


.submenu_button{
  border: 0px;
  background-color: transparent;
  border-radius: 0.5em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#sidebar button:hover {
  cursor: pointer;
  transition: 300ms ease-in-out;
}


#sidebar > ul {
  list-style: none;
  transition: all 300ms ease-in-out;
}

#sidebar svg {
  flex-shrink: 0;
  color: var(--text);
}

#sidebar.close {
  width: 60px;
  color: var(--background);
  .logo-text {
    opacity: 0;
    transition: 300ms ease-in-out;
  }
}

#sidebar .navbutton {
  transition: all 300ms ease-in-out;
  font-size: smaller;
}

#sidebar.close .navbutton {
  color: var(--background);
  translate: -45px;
  transition: 300ms ease-in-out;
}
#sidebar.close #toggle-btn {
  translate: -10px;
}
.rotate {
  svg {
    rotate: 180deg;
  }
}
 

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
#sidebar .navigate,
#sidebar .logo {
  border: 0px;
  background-color: var(--prim);
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1em;
}
#sidebar .logo-text:hover {
  cursor: pointer;
}
#sidebar button {
  font-size: var(--fs-sm);
}

.logo {
  font-weight: bold;
  .secondary {
    color: var(--accent);
  }
}


#sidebar ul li.active button {
  color: var(--accent);
  svg {
    fill: var(--accent);
  }
}

main {
  width: calc(100vw - 250px);
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 300ms ease-in-out;
}

main.close {
  width: calc(100vw - 60px);
}

.grid-container {
  padding: 20px;
  display: grid;
  margin-bottom: 100px;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-areas:
    "circuitInfo calendar lastSession schedule"
    "countdown calendar lastSession schedule "
    "wdc wdc wcc wcc "
    "wdc wdc wcc wcc ";
  justify-content: center;
  gap: 15px;
  font-size: 18px;
}



@media (min-width: 1481px) and (max-width: 1758px) {
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-areas:
     "circuitInfo calendar lastSession schedule"
    "countdown calendar lastSession schedule "
    "wdc wdc wcc wcc "
    "wdc wdc wcc wcc ";
    justify-content: center;
    gap: 15px;
  }
}

@media (min-width: 1354px) and (max-width: 1480px) {
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 225px 225px 225px 225px;
    grid-template-areas:
    "circuitInfo calendar lastSession schedule"
    "countdown calendar lastSession schedule "
    "wdc wdc wcc wcc "
    "wdc wdc wcc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 16px;
  }
}
@media (min-width: 1291px) and (max-width: 1353px) {
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
      "circuitInfo calendar lastSession schedule"
      "countdown calendar lastSession schedule"
      "wdc wdc wcc wcc "
      "wdc wdc wcc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 15px;
  }
}
@media (min-width: 1188px) and (max-width: 1291px) {
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 225px 225px 225px 225px;
    grid-template-areas:
      "circuitInfo calendar lastSession"
      "countdown calendar lastSession"
      "schedule wdc wcc"
      "schedule wdc wcc";
    justify-content: center;
    gap: 15px;
  }
  .cc_element, .dc_element{
    font-size: smaller;
    text-align: center
  }
  .dc_pts, .cc_pts{
    flex: 1;
  }

  .dc_pos, .cc_pos{
    display: none;
    opacity: 0;
  }
}
@media (min-width: 825px) and (max-width: 1188px) {
  #sidebar {
    position: fixed;
    top: unset;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-content: center;
    .dropdownsvg{
      display:none;
    }
    .submenu{
      transition: none;
    }
    .submenu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: fit-content;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);
      justify-content: center;
      display: flex;
      z-index: 20;
      transition: none;
      span{
        display: inline;
      }
      .submenu-div{
        overflow-x: auto;
      }
      
      li{
        display: inline-flex;
      }
    }
    ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      justify-content: center;
    }
    ul li {
      height: 100%;
    }
    ul li.navbutton {
      height: 100%;
      width: 60px;

      span {
        display: none;
      }
    }
    ul li.logo {
      display: none;
    }
  }

  .main {
    grid-template-columns: 1fr;
  }
  main {
    width: 100vw;
  }
  .container {
    border: none;
    padding: 0;
  }
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px ;
    grid-template-areas:
      "circuitInfo calendar lastSession"
      "countdown calendar lastSession"
      "schedule wdc wcc "
      "schedule wdc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 18px;
  }
  .cc_element, .dc_element{
    font-size: smaller;
    text-align: center
  }
  .dc_pts, .cc_pts{
    flex: 1;
  }

  .dc_pos, .cc_pos{
    display: none;
    opacity: 0;
  }
}
@media (min-width: 669px) and (max-width: 824px) {
  #sidebar {
    position: fixed;
    top: unset;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-content: center;
    .dropdownsvg{
      display:none;
    }
    .submenu{
      transition: none;
    }
    .submenu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: fit-content;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);
      justify-content: center;
      display: flex;
      z-index: 20;
      transition: none;
      span{
        display: inline;
      }
      .submenu-div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
    }
    ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      justify-content: center;
    }
    ul li {
      height: 100%;
    }
    ul li.navbutton {
      height: 100%;
      width: 60px;

      span {
        display: none;
      }
    }
    ul li.logo {
      display: none;
    }
  }
  .main {
    grid-template-columns: 1fr;
  }
  main {
    width: 100vw;
  }
  .container {
    border: none;
    padding: 0;
  }
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
    "circuitInfo calendar lastSession"
    "countdown calendar lastSession"
    "schedule wdc wcc "
    "schedule wdc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 15px;
  }
  .cc_element, .dc_element{
    font-size: smaller;
    text-align: center
  }
  .dc_pts, .cc_pts{
    flex: 1;
  }

  .dc_pos, .cc_pos{
    display: none;
    opacity: 0;
  }
}
@media (min-width: 558px) and (max-width: 668px) {
  #sidebar {
    position: fixed;
    top: unset;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-content: center;
    .dropdownsvg{
      display:none;
    }
    .submenu{
      transition: none;
    }
    .submenu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: fit-content;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);
      justify-content: center;
      display: flex;
      z-index: 20;
      transition: none;
      span{
        display: inline;
      }
      .submenu-div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
    }
    ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      justify-content: center;
    }
    ul li {
      height: 100%;
    }
    ul li.navbutton {
      height: 100%;
      width: 60px;

      span {
        display: none;
      }
    }
    ul li.logo {
      display: none;
    }
  }

  .main {
    grid-template-columns: 1fr;
  }
  main {
    width: 100vw;
  }
  .container {
    border: none;
    padding: 0;
  }
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px ;
    grid-template-areas:
      "circuitInfo calendar"
      "countdown calendar "
      "schedule lastSession"
" schedule lastSession"
      "wdc wcc "
      "wdc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 15px;
  }
  .cc_element, .dc_element{
    font-size: smaller;
    text-align: center
  }
  .dc_pts, .cc_pts{
    flex: 1;
  }

  .dc_pos, .cc_pos{
    display: none;
    opacity: 0;
  }
}
@media (min-width: 450px) and (max-width: 557px) {
  #sidebar {
    position: fixed;
    top: unset;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-content: center;
    .dropdownsvg{
      display:none;
    }
    .submenu{
      transition: none;
    }
    .submenu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: fit-content;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);
      justify-content: center;
      display: flex;
      z-index: 20;
      transition: none;
      span{
        display: inline;
      }
      .submenu-div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
    }
    ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      justify-content: center;
    }
    ul li {
      height: 100%;
    }
    ul li.navbutton {
      height: 100%;
      width: 60px;

      span {
        display: none;
      }
    }
    ul li.logo {
      display: none;
    }
  }

  .main {
    grid-template-columns: 1fr;
  }
  main {
    width: 100vw;
  }
  .container {
    border: none;
    padding: 0;
  }
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-areas:
    "circuitInfo calendar"
      "countdown calendar "
      "schedule lastSession"
" schedule lastSession"
      "wdc wcc "
      "wdc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 16px;
  }
  .cc_element, .dc_element{
    font-size: smaller;
    text-align: center
  }
  .dc_pts, .cc_pts{
    flex: 1;
  }

  .dc_pos, .cc_pos{
    display: none;
    opacity: 0;
  }
}
@media (min-width: 381px) and (max-width: 449px) {
  #sidebar {
    position: fixed;
    top: unset;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-content: center;
    .dropdownsvg{
      display:none;
    }
    .submenu{
      transition: none;
    }
    .submenu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: fit-content;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);
      justify-content: center;
      display: flex;
      z-index: 20;
      transition: none;
      span{
        display: inline;
      }
      .submenu-div{
        overflow-x: auto;
        height: fit-content;
      }
      li{
        display: inline-flex;
      }
    }
    ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      justify-content: center;
    }
    ul li {
      height: 100%;
    }
    ul li.navbutton {
      height: 100%;
      width: 60px;

      span {
        display: none;
      }
    }
    ul li.logo {
      display: none;
    }
  }

  .main {
    grid-template-columns: 1fr;
  }
  main {
    width: 100vw;
  }
  .container {
    border: none;
    padding: 0;
  }
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 170px 170px;
    grid-template-rows: 170px 170px 170px 170px 170px 170px;
    grid-template-areas:
    "circuitInfo calendar"
      "countdown calendar "
      "schedule lastSession"
" schedule lastSession"
      "wdc wcc "
      "wdc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 14px;
  }
  .dc_driverName, .cc_constructorName{
    word-spacing: 30000px;
  }

  .cc_element, .dc_element{
    font-size: smaller;
    text-align: center
  }
  .dc_pts, .cc_pts{
    flex: 1;
  }

  .dc_pos, .cc_pos{
    display: none;
    opacity: 0;
  }
}
@media (max-width: 380px) {
  #sidebar {
    position: fixed;
    top: unset;
    bottom: 0;
    height: 60px;
    width: 100%;
    align-content: center;
    .dropdownsvg{
      display:none;
    }
    .submenu{
      transition: none;
    }
    .submenu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: fit-content;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);
      justify-content: center;
      display: flex;
      z-index: 20;
      transition: none;
      span{
        display: inline;
      }
      .submenu-div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
    }
    ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      justify-content: center;
    }
    ul li {
      height: 100%;
    }
    ul li.navbutton {
      height: 100%;
      width: 60px;

      span {
        display: none;
      }
    }
    ul li.logo {
      display: none;
    }
  }

  .main {
    grid-template-columns: 1fr;
  }
  main {
    width: 100vw;
  }
  .container {
    border: none;
    padding: 0;
  }
  .grid-container {
    padding: 20px;
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 140px 140px;
    grid-template-rows: 140px 140px 140px 140px 140px 140px;
    grid-template-areas:
    "circuitInfo calendar"
    "countdown calendar "
    "schedule lastSession"
" schedule lastSession"
    "wdc wcc "
    "wdc wcc ";
    justify-content: center;
    gap: 15px;
    font-size: 11px;
  }
  .cc_element, .dc_element{
    font-size: smaller;
    text-align: center
  }
  .dc_pts, .cc_pts{
    flex: 1;
  }

  .dc_pos, .cc_pos{
    display: none;
    opacity: 0;
  }
}
